<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/book-content.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="/static/javascript/turn.min.js"></script>
    <script
      type="text/javascript"
      src="/static/javascript/modernizr.2.5.3.min.js"
    ></script>
    <script type="text/javascript" src="/static/javascript/modal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

    <title>국립백두대간수목원 | 시드볼트 뉴스</title>
  </head>
  <body>
    <nav
      class="navbar has-shadow is-dark"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="https://www.bdna.or.kr/ "target="_blank" rel="noopener noreferrer"
>
          <img src="static/image/logo.png" />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end mr-6">
          <a
            class="navbar-item"
            style="display: flex; justify-content: center; align-items: center;"
            href="/"
          >
            <span class="material-symbols-outlined">
              home
            </span>
            &ensp;
            <p>메인페이지</p>
          </a>
          <a
            class="navbar-item"
            href="/en"
            style="display: flex; justify-content: center; align-items: center;"
          >
            <span class="material-symbols-outlined">
              language
            </span>
            &ensp;
            <p>English</p>
          </a>
        </div>
      </div>
    </nav>

    <!-- main -->

    <div class="main-body">
      <!--book -->

      <div class="book-viewport">
        <div class="container">
          <div
            id="newsbook"
            style="box-shadow: 3px 3px 3px 3px rgba(202, 202, 202, 0.5);"
          ></div>
        </div>
      </div>

      <div class="mobile-viewport">
        <div id="container"></div>
      </div>
    </div>

    <!-- side buttons-->
<div class="side-button-wrapper left">
      <a class="side-button" id="side-button-left">
        <span class="material-symbols-outlined">
          arrow_back_ios_new
        </span>
      </a>
      <a class="side-button" id="side-button-left-mobile">
        <span class="material-symbols-outlined">
          arrow_back_ios_new
        </span>
      </a>
    </div>
    <div class="side-button-wrapper right">
      <a class="side-button" id="side-button-right">
        <span class="material-symbols-outlined">
          arrow_forward_ios
        </span>
      </a>
      <a class="side-button" id="side-button-right-mobile">
        <span class="material-symbols-outlined">
          arrow_forward_ios
        </span>
      </a>
    </div> 

    <!--bottom controls -->
     <div class="bottom-wrapper">
      <div class="bottom">
        <div style="padding-left: 42px;"></div>

        <div class="controls">
          <a id="firstBtn">
            <div class="button-wrapper">
              <div class="circle">
                <span class="material-symbols-outlined">first_page</span>
              </div>
            </div>
          </a>

          <a id="leftBtn">
            <div class="button-wrapper">
              <div class="circle">
                <span class="material-symbols-outlined">chevron_left</span>
              </div>
            </div>
          </a>

          <div class="page-indicator">
            <p id="current-page">1</p>
            <p>/</p>
            <p id="total-page">8</p>
          </div>

          <a id="rightBtn">
            <div class="button-wrapper">
              <div class="circle">
                <span class="material-symbols-outlined">
                  chevron_right
                </span>
              </div>
            </div>
          </a>

          <a id="lastBtn">
            <div class="button-wrapper">
              <div class="circle">
                <span class="material-symbols-outlined">
                  last_page
                </span>
              </div>
            </div>
          </a>
        </div>

        <!-- zoom -->
        <div style="padding-right: 10px;">
          <a id="zoomBtn">
            <div class="button-wrapper">
              <div class="circle">
                <span class="material-symbols-outlined">
                  zoom_in
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- mobile bottom controls-->

   <div class="mobile-bottom-wrapper">
      <div class="mobile-controls-left"></div>
      <div class="mobile-controls">
        <a id="mobile-first-btn">
          <div class="button-wrapper">
            <div class="circle">
              <span class="material-symbols-outlined">first_page</span>
            </div>
          </div>
        </a>
        <a id="mobile-previous-btn">
          <div class="button-wrapper">
            <div class="circle">
              <span class="material-symbols-outlined">chevron_left</span>
            </div>
          </div>
        </a>
        <div class="page-indicator">
          <p id="mobile-current-page"></p>
          <p>/</p>
          <p>8</p>
        </div>
        <a id="mobile-next-btn">
          <div class="button-wrapper">
            <div class="circle">
              <span class="material-symbols-outlined">chevron_right</span>
            </div>
          </div>
        </a>
        <a id="mobile-last-btn">
          <div class="button-wrapper">
            <div class="circle">
              <span class="material-symbols-outlined">last_page</span>
            </div>
          </div>
        </a>
      </div>

      <div class="mobile-controls-right">
        <a id="scroll-to-top">
          <div class="button-wrapper">
            <div class="circle">
              <span class="material-symbols-outlined">
                keyboard_double_arrow_up
              </span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!--modal-->
    <div id="modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <p class="image">
          <img src="" alt="" />
        </p>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <script type="text/javascript">
      var pageNum = 1


      $(document).ready(function () {
        // Check for click events on the navbar burger icon
        $('.navbar-burger').click(function () {
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          $('.navbar-burger').toggleClass('is-active')
          $('.navbar-menu').toggleClass('is-active')
        })
        refreshPageNum(pageNum)
        $('#side-button-right-mobile').click(() => {
          mobileNext(pageNum)
          refreshPageNum(pageNum)
        })
        $('#side-button-left-mobile').click(() => {
          mobilePrev(pageNum)
          refreshPageNum(pageNum)
        })
        $('#mobile-first-btn').on('click', (e) => {
          e.preventDefault()
          mobileFirst()
          refreshPageNum(1)
        })
        $('#mobile-previous-btn').on('click', (e) => {
          e.preventDefault()
          mobilePrev(pageNum)
          refreshPageNum(pageNum)
        })
        $('#mobile-next-btn').on('click', (e) => {
          e.preventDefault()
          mobileNext(pageNum)
          refreshPageNum(pageNum)
        })
        $('#mobile-last-btn').on('click', (e) => {
          e.preventDefault()
          mobileLast()
          refreshPageNum(8)
        })

        $('#scroll-to-top').on('click', (e) => {
          e.preventDefault()
          $('html, body').animate({ scrollTop: 0 }, 'slow', () => {})
        })

      })

      var book = $('#newsbook')

      function nextPage() {
        if (book) {
          pageZoomed()
          book.turn('next')
        }
      }
      function prevPage() {
        if (book) {
          pageZoomed()
          book.turn('previous')
        }
      }
      var currentPage = $('#current-page')
      var totalPage = $('#total-page')

      var rb = $('#rightBtn')
      var lb = $('#leftBtn')
      if (rb) {
        rb.click((e) => nextPage())
      }
      if (lb) {
        lb.click((e) => prevPage())
      }
      var sbR = $('#side-button-right')
      var sbL = $('#side-button-left')

      if (sbR) {
        sbR.click((e) => nextPage())
      }
      if (sbL) {
        sbL.click((e) => prevPage())
      }

      function getLastPage() {
        if (book) {
          pageZoomed()
          book.turn('page', 8)
        }
      }
      function getFirstPage() {
        if (book) {
          pageZoomed()
          book.turn('page', 1)
        }
      }
      var firstPageBtn = $('#firstBtn')
      var lastPageBtn = $('#lastBtn')

      firstPageBtn.click((e) => getFirstPage())
      lastPageBtn.click((e) => getLastPage())

      var zoomBtn = $('#zoomBtn')

      function pageZoomed() {
        var pageNum = book.turn('page')
        var currentP = $('.p' + pageNum)
        if (currentP.hasClass('is-zoomed')) {
          currentP.css('zoom', '100%')
          book.turn('disable', false)
          book.turn('zoom', 1, 5000)

          currentP.removeClass('is-zoomed')
        }
      }

      function zoomPage() {
        if (book) {
          var pageNum = book.turn('page')
          var currentP = $('.p' + pageNum)

          if (currentP.hasClass('is-zoomed')) {
            currentP.css('zoom', '100%')
            book.turn('disable', false)
            book.turn('zoom', 1, 5000)
            currentP.removeClass('is-zoomed')
          } else {
            currentP.css('zoom', '200%')
            book.turn('disable', true)
            book.turn('zoom', 2, 5000)
            currentP.addClass('is-zoomed')
          }
        }
      }
      zoomBtn.click((e) => zoomPage())

      function loadPage(element, page) {
        $.ajax({
          url: '/pages/' + page,
          success: (d) => {
          let finPage = element.html(d)
          },
        })
      }

      function addPage(page, book) {
        if (!book.turn('hasPage', page)) {
          var element = $('<div/>', {
            class: 'paper-wrapper',
            css: { 'background-color': 'white' },
          })

          if (book.turn('addPage', element, page)) {
              loadPage(element, page)
          }
        }
      }
      function refreshPageNum(pageNum) {
        $('#mobile-current-page').text(pageNum)
      }

      function getMobile(pg) {
        $.ajax({
          url: '/pages/' + pg,
          success: (d) => {
            var div = $('<div/>', {
              class: 'paper-wrapper',
              css: {
                'background-color': 'white',
                'box-shadow': '3px 3px 3px 3px rgba(202, 202, 202, 0.5)',
              },
            })
            var newPage = div.html(d)

            $('#container').append(newPage)
          },
        })
      }

      function mobileNext(pg) {
        if (pg < 8) {
          if ($('.paper-wrapper')) {
            $('.paper-wrapper').detach()
          }
          pg++
          getMobile(pg)
          pageNum = pg
        }
      }
      function mobilePrev(pg) {
        if (pg > 1) {
          if ($('.paper-wrapper')) {
            $('.paper-wrapper').detach()
          }
          pg--
          getMobile(pg)
          pageNum = pg
        }
      }
      function mobileLast() {
        if ($('.paper-wrapper')) $('.paper-wrapper').detach()
        getMobile(8)
        pageNum = 8
      }
      function mobileFirst() {
        if ($('.paper-wrapper')) $('.paper-wrapper').detach()
        getMobile(1)
        pageNum = 1
      }

    var initWidth = $(window).width()
     $(window).on('resize', _.debounce(onResize, 300))

      function onResize() {


        var width = $(this).width()

        if(initWidth != width){
           if (width > 768) {
          if (!$('#newsbook').turn('is')) {
            init(pageNum)
          }
        } else {
          if ($('#newsbook').turn('is')) {
            $('#newsbook').turn('destroy')
          }
          if ($('.paper-wrapper')) $('.paper-wrapper').detach()
          getMobile(pageNum)
        }
        }
     
      } 


      function openModal(element){

      var modal = $('#modal')
       var url = $(element).children('img').attr('src')
      modal.find('img').attr('src',url)
      modal.addClass("is-active")

      }

      function init(p) {
        currentPage.text(p)
        $('#newsbook').turn({
          elevation: 50,
          gradients: true,
          autoCenter: true,
          display: 'single',
          page: p,
          pages: 8,
          when: {
            turn: (event, page, view) => {
              currentPage.text(page)
              pageNum = page
            },
            missing: function (event, pages) {
              for (var i = 0; i < pages.length; i++) {
                addPage(pages[i], $(this))
              }
            },
          },
        })
      }

      if ($(window).width() > 768) {
        init(pageNum)
      } else {
        getMobile(pageNum)
      }
    </script>
  </body>
</html>
