@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';

@font-face {
  font-family: 'ChosunKm';
  src: url('/static/fonts/ChosunKm.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChosunSm';
  src: url('/static/fonts/ChosunSm.TTF');
  font-weight: normal;
  font-style: normal;
}

.news-paper {
  /* width: 612px; */
  /* height: 792px; */
  overflow-y: auto;
  overflow-x: auto;
}

.news-paper.mobile {
  display: none;
}

.news-paper-wrapper {
  margin: 16px;
  max-width: 580px;
  max-height: 760px;
}

.head-wrapper .title-wrapper {
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-wrapper .title-wrapper .head-title {
  letter-spacing: -3px;
  line-height: 1.2rem;
  display: flex;
  font-family: 'ChosunKm';
  font-size: 42px;
}
.head-wrapper .title-wrapper .head-title:lang(en) {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
}
.head-wrapper .title-wrapper .title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  width: 22%;
  height: 50%;
  font-size: 11px;
  border: 3px double black;
  font-family: 'ChosunKm';
  line-height: 1.5em;
  letter-spacing: -3%;
  text-align: center;
}

.head-wrapper .title-wrapper .title-box:lang(en) {
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  font-weight: bold;
  width: 21%;
}

.subhead-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 2px;
  padding-bottom: 2px;
}

.subhead-wrapper a {
  color: black;
}

.head-subtitle {
  text-align: center;
  font-family: 'ChosunKm';
  font-size: 10px;
}
.head-subtitle:lang(en) {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.main-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
}
.main-wrapper .main-title {
  text-align: center;
  line-height: 1.2;
  font-family: 'ChosunKm';
  font-size: 20px;
  padding-bottom: 5px;
  word-break: keep-all;
}
.main-wrapper .main-title:lang(en) {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
}
.main-wrapper .main-title.sub {
  text-align: center;
  line-height: 1.5;
  font-family: 'ChosunKm';
  font-size: 12px;
}
.main-wrapper .main-title.sub:lang(en) {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-family: 15px;
  font-style: italic;
}
.main-wrapper .main-title.left {
  text-align: left;
}
.main-wrapper .main-title.right {
  text-align: right;
}
.main-wrapper .part-title {
  line-height: 1.2em;
  font-family: 'ChosunKm';
  font-size: 25px;
  padding-bottom: 5px;
}
.main-wrapper .part-title:lang(en) {
  line-height: 1.2em;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}
.main-wrapper .part-title:lang(en) {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
.main-wrapper .main-article {
  line-height: 1.5em;
  letter-spacing: -0.05em;
  font-family: 'ChosunSm';
  font-size: 12px;
  text-align: justify;
}
.main-wrapper .main-article:lang(en) {
  font-family: 'Droid Serif', serif;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: -0.6px;
}

.section {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 1em;
  padding-left: 1em;
}

.section .image-wrapper {
  margin: auto;
  text-align: center;
}
.main-wrapper .main-article .special {
  font-size: 9px;
}
.main-wrapper .main-article .special:lang(en) {
  font-size: 10px;
  font-style: italic;
}

.main-wrapper .section-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 15px;
}
.main-wrapper .section-wrapper.col {
  flex-direction: column;
}
.main-wrapper .section-wrapper.row {
  flex-direction: row;
}

.image-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pictures-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media only all and (max-width: 1023px) {
}
@media only all and (max-width: 768px) {
  .news-paper {
    display: none;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .news-paper.mobile {
    display: block;
  }

  .news-paper-wrapper {
    margin: 16px;
    max-width: 100%;
    max-height: 100%;
  }

  .head-wrapper .title-wrapper .head-title {
    font-size: 28px;
  }

  .head-wrapper .title-wrapper .title-box {
    font-size: 10px;
    height: 60%;
  }

  .head-wrapper .title-wrapper .title-box:lang(en) {
    font-size: 11px;
    height: 60%;
  }
  .main-wrapper {
    margin-top: 30px;
  }
}
